<div class="container" style="width: 90%;">
    {% if error_message %}
    <h2>{{error_message}}</h2>
    {% endif %}
    <form action="{% url 'add_lib' %}" method="post" class="form-signin" enctype="multipart/form-data">
        <h2 class="form-signin-heading">Add library</h2>
        {% csrf_token %}
        <p>
        {{ form.file.errors }}
        {{ form.file }}
        </p>
        <!-- TODO: <options> form for LibraryType -->
        <input type="text" id="library_type" name="library_type" value="libc" class="form-signin">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
      </form>
</div>